*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color:#f6b319;
color:;
}
body{
	background-color: #61122F;
	color: white;
}

.center{
	width: 90%;
	background-color: grey;

}

.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}
.l1,.l2,.l3{
	border-style: solid;
	margin:5px;
border-color:#61122F;
}
#home-tiles{
background-color:gray;
margin:10px;
height:1000%;
}
